
    * {
        font-family: 'Poppins', sans-serif;
    }

    .h-font {
        font-family: 'Merienda', cursive;
    }

    .box {
        border-top-color: green !important;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .custom-alert {
        position: fixed;
        top: 50px;
        right: 25px;
        z-index: 1111;
    }

